<main class="container">
    <br>
    <div class="custom-jumbotron">
        <h1>Bienvenido a tu Asistente de Compras</h1>
        <p>Organiza tus compras con facilidad y descubre las mejores ofertas en tus productos favoritos. ¡Planifica, ahorra y disfruta!</p>
    </div>
    <br>

    <main class="container">


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://source.unsplash.com/random/1920x1080?grocery" class="d-block w-100" alt="Grocery">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Frescura y Calidad</h5>
                        <p>Descubre los productos más frescos cada día.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://source.unsplash.com/random/1920x1080?fruits" class="d-block w-100" alt="Fruits">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Variedad de Frutas</h5>
                        <p>Gran variedad de frutas frescas y listas para tu consumo.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://source.unsplash.com/random/1920x1080?vegetables" class="d-block w-100" alt="Vegetables">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Verduras Saludables</h5>
                        <p>Elige las mejores verduras para una alimentación sana.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>

        <br>

        <div class="image-grid">
            <!--    <img src="https://source.unsplash.com/random/500x500?sig=1" class="large" alt="Imagen 1">
            <img src="https://source.unsplash.com/random/300x300?sig=2" class="small" alt="Imagen 2">
            <img src="https://source.unsplash.com/random/200x200?sig=3" class="small" alt="Imagen 3">
            <img src="https://source.unsplash.com/random/400x400?sig=4" class="medium" alt="Imagen 4">
            <img src="https://source.unsplash.com/random/100x100?sig=5" class="small" alt="Imagen 5">
            <img src="https://source.unsplash.com/random/500x500?sig=6" class="large" alt="Imagen 6">
            <img src="https://source.unsplash.com/random/200x200?sig=7" class="small" alt="Imagen 7">
            <img src="https://source.unsplash.com/random/300x300?sig=8" class="medium" alt="Imagen 8">
            <img src="https://source.unsplash.com/random/100x100?sig=9" class="small" alt="Imagen 9">
            <img src="https://source.unsplash.com/random/500x500?sig=10" class="large" alt="Imagen 10">
            <img src="https://source.unsplash.com/random/200x200?sig=11" class="small" alt="Imagen 11">
            <img src="https://source.unsplash.com/random/300x300?sig=12" class="medium" alt="Imagen 12">
            <img src="https://source.unsplash.com/random/100x100?sig=13" class="small" alt="Imagen 13">
            <img src="https://source.unsplash.com/random/500x500?sig=14" class="large" alt="Imagen 14">
            <img src="https://source.unsplash.com/random/200x200?sig=15" class="small" alt="Imagen 15">
            <img src="https://source.unsplash.com/random/300x300?sig=16" class="medium" alt="Imagen 16">
            <img src="https://source.unsplash.com/random/100x100?sig=17" class="small" alt="Imagen 17">
            <img src="https://source.unsplash.com/random/500x500?sig=18" class="large" alt="Imagen 18">
            <img src="https://source.unsplash.com/random/200x200?sig=19" class="small" alt="Imagen 19">
            <img src="https://source.unsplash.com/random/300x300?sig=20" class="medium" alt="Imagen 20">-->



            <img src="https://www.mayoreototal.mx/cdn/shop/products/mayoreototal-caja-fabuloso-lavanda-de-1-lt-con-12-botellas-colgate-palmolive-limpieza-colgate-sku_400x.jpg?v=1563806714" class="large" alt="Imagen 21">
            <img src="https://crehana-blog.imgix.net/media/filer_public/f0/bc/f0bc29b8-c91c-421d-b645-4f3d31da4485/484575cc00f397dd7620d3896feae6e8.jpg?auto=format&q=50" class="small" alt="Imagen 22">
            <img src="https://d1on8qs0xdu5jz.cloudfront.net/webapp/images/productos/b/0000015000/15715.jpg" class="small" alt="Imagen 23">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTk-msq-FZfKIXTpKbvxYRkhmQNot0qIg0NNYljFMnrg&s" class="medium" alt="Imagen 24">
            <img src="https://www.diariodesevilla.es/2022/04/08/consumo/pasta-cocida-ultracongelada-hacendado-mercadona_1672643334_155366046_1200x675.jpg" class="small" alt="Imagen 25">
            <img src="https://d1on8qs0xdu5jz.cloudfront.net/webapp/images/productos/b/0000013000/13585.jpg" class="large" alt="Imagen 26">
            <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiNyO6C8lfv41acXBZruCooSnG3HmLybM8tO2CRbsfzrLAQv5pbT6PHvpSN3C_6vpPOgQzjGkcaHelA54_RTSn8VPnGgHmrG5wTvBvpGDk0ScwrlhGYs1593pmgcz-zRgREynD6qg/s1600/bananas.jpg" class="small" alt="Imagen 27">
            <img src="https://supermercadovirtual.cl/wp-content/uploads/2019/06/md_czIlc3r4nVs3.png" class="medium" alt="Imagen 28">
            <img src="https://supermercadosnacional.com/media/catalog/product/cache/afcac67a0d77755283578b677f040f2b/2/8/2801065-1.jpg" class="small" alt="Imagen 29">
            <img src="https://supermercadosnacional.com/media/catalog/product/cache/afcac67a0d77755283578b677f040f2b/2/1/2156603-1.jpg" class="large" alt="Imagen 30">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6fFWZgR3p1mdbslGEBlGmKIh3DgI_jQVirQ&s" class="small" alt="Imagen 31">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ7GPgeibUqxFB57v4wp-pULtDSO7abE9WbLcCtSSn4xbjf_fqh7kODzsUh2seDFyJHuQ&usqp=CAU" class="medium" alt="Imagen 32">
            <img src="https://supera.com.ar/wp-content/uploads/2020/10/Medallon-de-Carne-Express-Paty-4-Un-300x300.jpg" class="small" alt="Imagen 33">
            <img src="https://supera.com.ar/wp-content/uploads/2022/08/Diseno-sin-titulo-2022-08-05T110227.614.png" class="large" alt="Imagen 34">
            <img src="https://supera.com.ar/wp-content/uploads/2020/10/ACEITE-DE-Girasol-COCINERO-900ML.jpg" class="small" alt="Imagen 35">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYaXYsX06KyV80IXwhg-9dLJXBHF4vAU94d6MpFG0A5nF8MJU7HPVUyDbzn7k99fx84EM&usqp=CAU" class="medium" alt="Imagen 36">
            <img src="https://lh3.googleusercontent.com/proxy/LPELWuZ4v8AaS_OUMQiZcss7riASuo2RDgHvBN_4EWEo29rC82hVf3-iV4FeV81bQkzYOoWNGZzIYZFF6IV5rs9lkKIvK2MbRlZBNE0ZFXMc_kzUuv4cO7vhn6gfCkJiGd0y-QwQWSjBEe6OWwVV9y0kO-sjHGKtAg7DzD336HJJJ-z4lciXnw" class="small" alt="Imagen 37">
            <img src="https://lh3.googleusercontent.com/proxy/3xg1xWDy6ykOQNM8nVdLGQWLttbju7blPWU-Y7KaASPJ-ZaxfCfJtUt3LdF5oRmxaXQPvYDpPmoTqjprN5R535LXBOic9T5rQ8Vh3gZO00zlovJ4SxFpQRgsw_bF3pklDhi5r2X4M_ejyiTB_-U-_AtUWXvJJ5AG6WRC-7COiweXMpP5tsrIxQ" class="large" alt="Imagen 38">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs6Ao1M1jTvDu48YYFi8CrG0GaN9nZyEMLcswQ8DQOxkbIZ260W9N6dp8vYzxMOevWfZg&usqp=CAU" class="small" alt="Imagen 39">
            <img src="https://lh3.googleusercontent.com/proxy/yS2POOAwq7B0CGYiF8yKv7ykzEp2C5T5gWvtfx3yPGA0PyLyzjKlsIOCJw3y1FDjGeTXjcSXDkV_icncq5OktSz8ZoK8SncI3Z-Xm44nOOAVsD-9bvc0H-7jYNVEZyCaDAnHn8Ay7VtRCvA6vFUTUcEkLMHhBIhYL44rdU195iF_25c_hskBGQ" class="medium" alt="Imagen 40">




        </div>
    </main>

    <footer class="container">
        <small><a href="#">Política de privacidad</a> • <a href="#">Términos y condiciones</a></small>
    </footer>