a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-collapse > .navbar-nav > .nav-item:not(.dropdown){
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(235, 235, 235, 1);
}

nav .dropdown{
  border-right: 1px solid rgba(235, 235, 235, 1);
}

.navbar-collapse > .navbar-nav > .nav-item:last-child{
  border-right: none;
}

nav.navbar{
  padding-top: 0;
  padding-bottom: 0;
}