.profile-avatar{
    width: 150px;
    height: 150px;
    position: relative;
}

.profile-avatar input{
    opacity: 0;
    height: 0;
}

.profile-avatar input, .profile-avatar img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}